<section class=" Side" style="background-color: transparent;">
    <div class="text-center ImgName">
        <img  src="https://ptetutorials.com/images/user-profile.png">
        <h6>AbdElrahman</h6> 
    </div>

    <div class="row text-center Options">
        <button class="col-md-10 btn" style="font-size: 13px;">
            <span class="fa fa-home"></span>
            Home
        </button>

        <button class="col-md-10 btn active" style="font-size: 13px;">
            <span class="fa fa-comment-alt"></span>
            Chat
        </button>

        <button class="col-md-10 btn" style="font-size: 13px;">
            <span class="fa fa-file-powerpoint"></span>
            Doc
        </button>


        <button class="col-md-10 btn" style="font-size: 13px;">
            <span class="fa fa-calendar-alt"></span>
            Cal
        </button>


        <button class="col-md-10 btn" style="font-size: 13px;">
            <span class="fa fa-cogs"></span>
            Setting
        </button>
        
    </div>

</section>