.message{
    border: 1px solid gray;
    padding: 10px;
    margin-left: 23px;
    margin-top: 14px;
    background-color: white;
    max-width: 370px;
    min-width: 370px;
    min-width: 50px;
    overflow: hidden;
    border-radius: 20px;
}


::-webkit-scrollbar {
    display: none;
  }

@media (max-width:992px){

    section.RealChat{
        margin-left: 65px;        
    }

    div.Content{
        /* margin-left: 0px; */
        margin-top:  20vh !important;
    }
  
}


