
        <div class="row  Content">
     
    
            <section class="col-md-12 Center" >
                
                <nav class="navbar navbar-expand-sm navbar-light " >
        
                    <div class="collapse navbar-collapse">

                        <a class="navbar-brand"  style="color: white; font-size: 13px;">Chat</a>

                 

            
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">
                               <span class="fa fa-bell" style="color: white;"></span>
                               <span class="badge badge-danger badge-pill">14</span>
                            </a>
                          
                        </li>
                      
                      </ul>
                    </div>
                </nav>


                <div class="Chat row justify-content-around" >

                     <section class="col-lg-4 d-none d-lg-block" > 
                        <app-friends></app-friends>
                     </section> 

                    <section class="col-md-auto  col-lg-8 offext-1  RealChat">
                            <!-- <app-real-chat></app-real-chat> -->
                   
                            <div class="container row" *ngFor='let mes of messag'>

                                <div class="col-sm-12" *ngIf='mes.sender != user' >
                                    <div style="float: left;">
                                        <div class="row container message ">
                                            
                                        <p class="col-md-12">
                                               {{mes.content}}
                                        </p>
                                        </div>
                                        <span class="col-md-12 " style="color: white;">( {{mes.sender}} ) - <small> {{mes.time}}</small></span>
                                    </div>
                                </div>
                            
                                <div class="col-sm-12" *ngIf='mes.sender === user'>
                                    <div style="float: right;">
                                        <div class="row container message " style="background-color: #05728f;">
                                            <p class="col-md-12">
                                                {{mes.content}}
                                            </p>
                                        </div>
                                        <span class="col-md-12 " style="color: white;"> <small>{{mes.time}} </small></span>
                                    </div>
                            
                                </div>
                            
                            
                            
                            </div>  
                    </section> 

                </div>


                <form (ngSubmit)="onsendMessage()" #sendMessage="ngForm">

                    <div class="row" style="margin: 30px 0px;" >
                        <section class="col-md-11">
                            <input class="form-control" placeholder="Message" ngModel name="message" required> 
                        </section>
                        <section class="col-md-1">
                            <button type="submit" class="btn btn-outline-primary" style="width: 100%; font-size: 13px;">Send</button> 
                        </section>
                       

                    </div> 
                </form>

                 

            </section>

        </div>

  
